<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
    </head>
    <body>
        <h1>Grocery List</h1>
        <hr>
        <br>
        <br>
        <form>
            <input name="item" placeholder="Item" type="text">
            <select name="Store">
                <option value="Whole Foods">Whole Foods</option>
                <option value="Costco">Costco</option>
            </select>

            <input type="submit" value="Add Item">
        </form>
    </body>
</html>